<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hello World - FastAPI</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <main class="container">
      <h1>Frontend → Backend</h1>

      <p>Butona tıklayarak Python backend'e istek gönder.</p>

      <button id="helloButton">Backend'e İstek Gönder</button>

      <div id="result"></div>
    </main>

    <script src="/static/script.js"></script>
  </body>
</html>
